@model Application.Responses.PageResponses<Application.DTO.ShowCategoryDto>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "categories";
    ViewData["Action"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
    <form asp-action="Index" method="get">
        Find category: <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
        <input type="submit" value="Search category" class="btn btn-primary"/> | 
        <a asp-action="Index">Remove search</a>
    </form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" 
                   asp-route-SortOrder="@ViewBag.CategorySortParam"
                   asp-route-PageNumber="@Model.CurrentPage">
                Category
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PaginationPartial" model="Model" view-data="ViewData"/>
