@model Application.Responses.PageResponses<Application.DTO.GetPostDto>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "posts";
    ViewData["Action"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (TempData["error"] != null)
{
    <p class="alert-danger">@TempData["error"]</p>
}

<br />

    <form asp-action="Index" method="get">
        Find post: <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
        <input type="submit" value="Search post" class="btn btn-primary"/> |
        <a asp-action="Index">Remove filter</a>
    </form>
    
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" 
                   asp-route-sortOrder="@ViewBag.TitleSortParam"
                   asp-route-PageNumber="@Model.CurrentPage">
                    Title
                </a>
            </th>
            <th>
                Summary
            </th>
            <th>
                Text
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.AuthorSortParam"
                   asp-route-PageNumber="@Model.CurrentPage">
                    Author
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CategorySortParam"
                   asp-route-PageNumber="@Model.CurrentPage">
                    Category
                </a>
            </th>
            <th>
                Image
            </th>
            <th>
                Tags
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <img src="~/uploads/@Html.DisplayFor(modelItem => item.Image)" width="300" />
                </td>
                <td>
                    @foreach (var tag in item.ShowTagInPosts)
                    {
                        @tag.TagName <br />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

<partial name="_PaginationPartial" model="Model" view-data="ViewData"/>
